/* Wisdom Script */
@font-face {
  font-family: 'wisdom';
  src: url('../fonts/wisdomscriptaj.woff2') format('woff2'),
  url('../fonts/wisdomscriptaj.woff') format('woff'),
  url('../fonts/wisdomscriptaj.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Poppins */

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-thin.woff2') format('woff2'),
  url('../fonts/poppins-thin.woff') format('woff'),
  url('../fonts/poppins-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-thinitalic.woff2') format('woff2'),
  url('../fonts/poppins-thinitalic.woff') format('woff'),
  url('../fonts/poppins-thinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-extralight.woff2') format('woff2'),
  url('../fonts/poppins-extralight.woff') format('woff'),
  url('../fonts/poppins-extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-extralightitalic.woff2') format('woff2'),
  url('../fonts/poppins-extralightitalic.woff') format('woff'),
  url('../fonts/poppins-extralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-light.woff2') format('woff2'),
  url('../fonts/poppins-light.woff') format('woff'),
  url('../fonts/poppins-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-lightitalic.woff2') format('woff2'),
  url('../fonts/poppins-lightitalic.woff') format('woff'),
  url('../fonts/poppins-lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-italic.woff2') format('woff2'),
  url('../fonts/poppins-italic.woff') format('woff'),
  url('../fonts/poppins-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-regular.woff2') format('woff2'),
  url('../fonts/poppins-regular.woff') format('woff'),
  url('../fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-medium.woff2') format('woff2'),
  url('../fonts/poppins-medium.woff') format('woff'),
  url('../fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-mediumitalic.woff2') format('woff2'),
  url('../fonts/poppins-mediumitalic.woff') format('woff'),
  url('../fonts/poppins-mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-semibold.woff2') format('woff2'),
  url('../fonts/poppins-semibold.woff') format('woff'),
  url('../fonts/poppins-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-semibolditalic.woff2') format('woff2'),
  url('../fonts/poppins-semibolditalic.woff') format('woff'),
  url('../fonts/poppins-semibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-bold.woff2') format('woff2'),
  url('../fonts/poppins-bold.woff') format('woff'),
  url('../fonts/poppins-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-bolditalic.woff2') format('woff2'),
  url('../fonts/poppins-bolditalic.woff') format('woff'),
  url('../fonts/poppins-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-extrabold.woff2') format('woff2'),
  url('../fonts/poppins-extrabold.woff') format('woff'),
  url('../fonts/poppins-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-extrabolditalic.woff2') format('woff2'),
  url('../fonts/poppins-extrabolditalic.woff') format('woff'),
  url('../fonts/poppins-extrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-black.woff2') format('woff2'),
  url('../fonts/poppins-black.woff') format('woff'),
  url('../fonts/poppins-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/poppins-blackitalic.woff2') format('woff2'),
  url('../fonts/poppins-blackitalic.woff') format('woff'),
  url('../fonts/poppins-blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


/* Libre Baskerville */

@font-face {
  font-family: 'libre';
  src: url('../fonts/librebaskerville-bold.woff2') format('woff2'),
  url('../fonts/librebaskerville-bold.woff') format('woff'),
  url('../fonts/librebaskerville-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'libre';
  src: url('../fonts/librebaskerville-italic.woff2') format('woff2'),
  url('../fonts/librebaskerville-italic.woff') format('woff'),
  url('../fonts/librebaskerville-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'libre';
  src: url('../fonts/librebaskerville-regular.woff2') format('woff2'),
  url('../fonts/librebaskerville-regular.woff') format('woff'),
  url('../fonts/librebaskerville-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}