.bg-medal {
  display: block;
  width: 36px; height: 55px;
  background: url('../img/icon_sprites.png') -327px -10px;
}
.bg-calendar {
  display: block;
  width: 49px; height: 49px;
  background: url('../img/icon_sprites.png') -185px -78px;
}
.bg-smart_tv {
  display: block;
  width: 53px; height: 47px;
  background: url('../img/icon_sprites.png') -10px -110px;
}
.bg-perfection {
  display: block;
  width: 49px; height: 48px;
  background: url('../img/icon_sprites.png') -146px -177px;
}
.bg-equalizer {
  display: block;
  width: 47px; height: 48px;
  background: url('../img/icon_sprites.png') -256px -75px;
}
.bg-busines {
  display: block;
  width: 49px; height: 48px;
  background: url('../img/icon_sprites.png') -77px -177px;
}
.bg-present {
  display: block;
  width: 51px; height: 45px;
  background: url('../img/icon_sprites.png') -256px -10px;
}
.bg-heart {
  display: block;
  width: 51px; height: 43px;
  background: url('../img/icon_sprites.png') -256px -143px;
}
.bg-user {
  display: block;
  width: 47px; height: 51px;
  background: url('../img/icon_sprites.png') -10px -177px;
}
.bg-chart {
  display: block;
  width: 51px; height: 48px;
  background: url('../img/icon_sprites.png') -185px -10px;
}
.bg-share {
  display: block;
  width: 36px; height: 36px;
  background: url('../img/icon_sprites.png') -327px -85px;
}
.bg-play {
  display: block;
  width: 80px; height: 80px;
  background: url('../img/icon_sprites.png') -10px -10px;
}
.bg-app {
  display: block;
  width: 45px; height: 40px;
  background: url('../img/icon_sprites.png') -85px -248px;
}
.bg-photo {
  display: block;
  width: 55px; height: 43px;
  background: url('../img/icon_sprites.png') -83px -110px;
}
.bg-ux_design {
  display: block;
  width: 55px; height: 49px;
  background: url('../img/icon_sprites.png') -110px -10px;
}
.bg-envelope {
  display: block;
  width: 55px; height: 40px;
  background: url('../img/icon_sprites.png') -10px -248px;
}
.bg-backs {
  display: block;
  width: 40px; height: 40px;
  background: url('../img/icon_sprites.png') -211px -248px;
}
.bg-clock {
  display: block;
  width: 40px; height: 40px;
  background: url('../img/icon_sprites.png') -10px -308px;
}
.bg-check {
  display: block;
  width: 41px; height: 40px;
  background: url('../img/icon_sprites.png') -150px -248px;
}